.contact-me {
  position: relative;
  margin: $center;
  top: 120px;
  width: 60%;
  height: 200px;
  background-color: $white;
  border: $border-solid-side;
  border-bottom: $border-solid;
  border-radius: $radius;
  box-shadow: $card-shadow;
}