// Styling
$nav-shadow:            0 2px 5px rgba(0,0,0,0.26);
$card-shadow:           0px 1px 0.5px #DDD;
$radius:                      4px;
$border-solid:             1px solid rgba(0,0,0,0.18);
$border-solid-side:     1px solid rgba(0,0,0,0.1);


// Font Styling
$roboto-font:              'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$main-font-size:         1em;
$large-font-size:         1.2em;
$header-font-size:      2em;
$bold:                          500;

// Colors
$grey:                         #607D8B;
$muted-grey:              #90A4AE;
$dark-grey:                 #37474F;
$white:                        #fff;
$off-white:                   #f9f9f9;
$red:                           #F44336;
$dark-red:                   #B71C1C;
$muted-red:                #FFCDD2;
$deep-red:                  #D32F2F;

// Positioning
$center: 0 auto;
